body {
	width:auto;
	margin:0px auto;
	font-size:1em;
	font-size: 15px;
	font-family: helvetica;
  }
  
  nav {
	padding:0.2%;
	background:#04273C;
  }
  
 section,aside {
	margin-top: 5px;
	padding: 10px;
	
  }
  section {
	border: 1px solid #ccc;
	margin-bottom: 50px;
	float: left;
	width: 85%;
  }
  aside {
	position: inherit;
	float: right;
	background:#ccc;
	color: #333;
	right: 0;
	bottom: 0;
  }
  nav ul {
	list-style-type:none;
	padding:0px;
	width: 100%;
	display: table;
	text-align: center;
  }
  nav ul li {
	display: inline;
  }
  nav ul li a:hover {
	background-color: #f0fc9c;
  }
  nav ul li a {
   display:inline-block;
   text-align:center;
   text-decoration:none;
   color: #04273c;
   font-weight: bold;
	padding:10px 20px;
	margin:2px;
	background:#fafafa;
	-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;
  }
  footer {
	position: fixed;
	width: 100%;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 0px 10px 0px;
	background-color: #04273c;
	text-align: center;
	color: #fff;
  }
  footer a {
	color: #fff;
	text-decoration: none;
  }
  h1 {
	color: #04273C;
  }
  
 