* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html{
  font-size: 10px;
} */

/* MOBILE FIRST*/

body {
  width: auto;
  margin: 0px auto;
  font-size: 15px;
  font-family: helvetica;
  overflow-y: scroll;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

.navbar,
.navbarContacto,
.navbarPersonajes {
  width: 100%;
  height: 100px;
  text-align: center;
}

.navbar ul,
.navbarContacto ul,
.navbarPersonajes ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.navbar ul li a,
.navbarContacto ul li a,
.navbarPersonajes ul li a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  border-right: 1px dotted #ccc;
  width: 100px;
  line-height: 50px;
}

.navbar ul li a:hover,
.navbarContacto ul li a:hover,
.navbarPersonajes ul li a:hover {
  background-color: #0e4791;
  color: #ccc;
}

.footerIndex,
.footerPeliculas,
.footerContacto {
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background-color: #04273c;
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.imagenIndex,
#imagenPersonajes {
  position: relative;
  width: 100%;
  height: 32rem;
  overflow: hidden;
  margin: 0;
  z-index: 0;
}

.imagenIndex img,
#imagenPersonajes img {
  width: 100%;
}

/*Titulo*/
.tituloPagina {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
}

.tituloPaginaPersonajes {
  position: absolute;
  top: 30%;
  left: 30%;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
}

.imagenIndex img {
  width: 100%;
}

#cabecera {
  display: flex;
}

h1 {
  color: #04273c;
}

h1,
h2,
h3 {
  padding: 1rem;
}

.pelicula {
  display: inline-block;
  width: 95%;
  height: 100%;
  border-radius: 1rem;
  border-left: 10px solid #04273c;
  box-shadow: 3px 10px 10px #999;
  margin: 0.2rem;
}

.personaje {
  display: inline-block;
  width: 95%;
  border-radius: 1rem;
  border-left: 10px solid #04273c;
  box-shadow: 3px 10px 10px #999;
  margin: 0.2rem;
}

.poster {
  width: 40%;
  padding: 1rem;
  float: left;
}

.bioImg {
  max-width: 40%;
  overflow: hidden;
  padding: 1rem;
  float: left;
}

.sinopsis {
  display: inline;
  float: right;
  width: 60%;
  padding: 1rem;
}

iframe {
  width: 100%;
  height: 80%;
  padding: 1rem;
}

.tituloPelicula {
  background-color: #04273c;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 0 1rem 0 0;
}

.datosPelicula {
  display: inline;
}

.trailer {
  display: inline-block;
  width: 100%;
  height: 50%;
}

.cabezaTrailer {
  background-color: #04273c;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

/*FORMULARIO*/
.formulario {
  font-size: 1rem;
  margin-top: 10px;
}

fieldset {
  padding: 10px;
}

input,
select label {
  margin: 5px;
  border: 1px;
  font-size: 16px;
  height: auto;
  padding: 5px;
  box-shadow: 0 1px 1px gray inset;
  border-radius: 8px;
  max-width: 200px;
}

input:invalid {
  box-shadow: 0 0 5px red;
}

input:focus {
  box-shadow: none;
}

input[type="submit"] {
  font-size: 1rem;
  padding: 5px;
  color: #fff;
  background: #04273c;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
}

legend {
  margin: 10px;
}

.cat {
  display: block;
  font-weight: 700;
  color: #04273c;
}

.dto {
  font-style: italic;
  line-height: 3rem;
}

.datos {
  height: 100%;
  width: 300px;
}

/*aside*/
.recomendaciones,
.mascotas-form {
  background: #ccc;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 10px;
  display: inline-block;
  border-radius: 1rem;
  border-left: 10px solid #04273c;
  box-shadow: 3px 10px 10px #999;
}

.recomendaciones li {
  margin-left: 10px;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

/*------------------------------------------Patalla de tablets---------------------------------------------*/
@media screen and (min-width: 576px) {
  .navbar,
  .navbarContacto,
  .navbarPersonajes {
    height: 70px;
  }

  .navbar ul li a,
  .navbarContacto ul li a,
  .navbarPersonajes ul li a {
    width: 110px;
    line-height: 70px;
  }

  .imagenIndex {
    height: 32rem;
  }

  section,
  aside {
    margin-right: 5px;
    margin-top: 5px;
    padding: 15px;
  }

  .contenidoPeliculas,
  .contenidoIndex,
  .contenidoIndex2,
  .contenidoPersonajes,
  .contenidoContato,
  .contenidoMascotas {
    border: 1px solid #ccc;
    margin-bottom: 50px;
    margin-left: 2px;
    float: left;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }

  .contenidoIndex,
  .contenidoIndex2,
  .contenidoPersonajes,
  .contenidoMascotas {
    display: inline-block;
  }

  .recomendaciones,
  .personajes-form {
    width: 38%;
  }

  .recomendaciones li {
    margin-left: 10px;
  }

  /*Titulo*/
  .tituloPagina {
    top: 50%;
    font-size: 60px;
    font-weight: bolder;
  }

  .tituloPaginaPersonajes {
    top: 40%;
    font-size: 60px;
    font-weight: bolder;
  }

  .pelicula {
    height: 750px;
  }

  /*GRID*/
  #grid {
    display: grid;
    grid-template-areas:
      "header header header"
      "imagen imagen imagen"
      "contenido aside aside"
      "footer footer footer";

    grid-template-rows: 70px 32rem 3fr;
  }

  header#cabeceraPersonajes {
    grid-area: header;
    position: sticky;
  }

  div#imagenPersonajes {
    grid-area: imagen;
    width: 100%;
    height: 32rem;
    overflow: hidden;
    margin: 0;
    z-index: 0;
  }

  section#contenidoPersonajes {
    grid-area: contenido;
    margin-bottom: 50px;
  }

  aside#asidePersonajes {
    grid-area: aside;
    height: 150px;
    background: #ccc;
    color: #333;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    border-left: 10px solid #04273c;
    box-shadow: 3px 10px 10px #999;
  }

  footer#footerPersonajes {
    grid-area: footer;
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px 0px 10px 0px;
    background-color: #04273c;
    text-align: center;
    color: #fff;
  }
}

/* --------------------------------Pantallas de escritorio------------------------------------------------------*/
@media (min-width: 992px) {
  .navbar ul li a,
  .navbarContacto ul li a,
  .navbarPersonajes ul li a {
    width: 187px;
  }

  .contenidoPeliculas,
  .contenidoIndex,
  .contenidoIndex2,
  .contenidoContato,
  .contenidoPersonajes,
  .contenidoMascotas {
    width: 72%;
    justify-content: center;
  }

  .recomendaciones,
  .personajes-form,
  .mascotas-form {
    width: 26%;
    margin-left: 5px;
  }

  .pelicula {
    max-width: 375px;
    height: 600px;
  }

  .recomendaciones li {
    margin-left: 10px;
  }

  .tituloPelicula {
    height: 80px;
  }

  /*Titulo*/

  .tituloPaginaPersonajes {
    top: 50%;
  }

  .personaje {
    max-width: 375px;
    max-height: 350px;
  }
}

/* correccion boostrap */

.container-fluid {
  --bs-gutter-x: 0;
}

ol,
ul {
  padding-left: 0;
}

.oculto {
  display: none;
}

/* .claseEjemplo{
  display: block;
} */

.tablajs,
.tablajs td {
  border: #04273c solid;
}

#reloj {
  display: inline-block;
  padding: 10px;
  color: #fff;
  background-color: #0e4791;
  border-radius: 12px;
}


/* Clases agregar personaje */
button{
  font-size: 1rem;
  padding: 5px;
  color: #fff;
  background: #04273c;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
}

.personajeImg {
  height: 89%;
  overflow: hidden;
  
}

.personajes-form {
  background: #ccc;
  width: 30%;
  margin-bottom: 50px;
  padding-bottom: 10px;
  display: inline-block;
  border-radius: 1rem;
  border-left: 10px solid #04273c;
  box-shadow: 3px 10px 10px #999;
}

.contenidoPersonajesJS{
  border: 1px solid #ccc;
  margin-bottom: 50px;
  margin-left: 2px;
  float: left;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

.personajeJS {
  display: inline-block;
  width: 95%;
  border-radius: 1rem;
  border-left: 10px solid #04273c;
  box-shadow: 3px 10px 10px #999;
  margin: 0.2rem;
  max-width: 375px;
  height: 350px;
}
.adoptada{
  color: red;
  font-weight: 700;
}