.padre{
    background-color: aqua;
    width: 600px;
    height: 600px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
    border-radius: 20px;

}

.hijo{
    background-color: black;
    width: 150px;
    height: 150px;
    border-radius: 20px;

}

.padre2{
    background-color: aqua;
    width: 600px;
    height: 600px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    border-radius: 20px;
    gap: 40px;
}

.padre3{
    background-color: aqua;
    width: 600px;
    height: 600px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    border-radius: 20px;
    gap:40px
}

