<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="../css/estilos.css" rel="stylesheet" />
    <title>Introducción HTML</title>
  </head>
  <body>
    <header id="cabecera" class="encabezado">
      <nav class="navbar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/peliculas.html">Peliculas</a></li>
          <li><a href="../views/personajes.html">Personajes</a></li>
          <li><a href="../views/contacto.html">Contacto</a></li>
          <li><a href="../views/nosotros.html">Nosotros</a></li>
        </ul>
      </nav>
    </header>
    <!-- Comentario HTML-->
    <div class="imagenIndex">
      <img src="../images/background.jpg" alt="Imagen de fondo" />
      <p class="tituloPagina">Clase 16: Eventos</p>
    </div>
    <section class="contenidoPersonajesJS">
      <h1>Personajes</h1>
      <div id="personajes-list"></div>
      <p id="contador-personajes"></p>
    </section>
    
    <aside class="personajes-form">
      <h2>Personajes</h2>
      <div>
        <input
          type="text"
          id="personajeInput"
          class="personajeClass"
          placeholder="Nombre del personaje"
        />

        <button id="agregar-personaje">Agregar</button>
      </div>
    </aside>
    <footer class="footerIndex">Desarrollado por Santiago Barletta</footer>
    <script src="../js/scriptclase16.js"></script>
  </body>
</html>
