<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="../css/estilos.css" rel="stylesheet" />
    <title>Introducción HTML</title>
  </head>
  <body>
    <header id="cabecera" class="encabezado">
      <nav class="navbar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../views/peliculas.html">Peliculas</a></li>
          <li><a href="../views/personajes.html">Personajes</a></li>
          <li><a href="../views/contacto.html">Contacto</a></li>
          <li><a href="../views/nosotros.html">Nosotros</a></li>
        </ul>
      </nav>
    </header>
    <!-- Comentario HTML-->
    <div class="imagenIndex">
      <img src="../images/background.jpg" alt="Imagen de fondo"/>
      <p class="tituloPagina">PRUEBAS JS</p>
    </div>
    <section class="contenidoIndex">
      
      <!-- <h1>Pruebas JAVASCRIPT</h1>
      <div id="miElemento" class="oculto">
        <h2>Esto es un elemento con ID</h2>
        <p>Podeés mostrarme u ocultarme con el botón</p>
      </div>
      <p class="claseEjemplo">es un ejemplo con clase</p>
      <p class="claseEjemplo">es un ejemplo con clase</p>
      <button id=mostrarOcultarBtn>mostrar/ocultar</button> -->
<!-- <hr>
      <p id="texto">Accediendo al id desde JAVASCRIPT</p>
      <button onclick="saludar()">Saludar con función</button> -->
      <h1>Mipulacion del DOM</h1>
      <!-- <select name="" id="select"></select> -->
      <!-- <div id="reloj"> </div> -->
      <div class="form-group">
        <label>Pelicula:</label>
        <input type="text" id="Titulo"  class="form-control" ></input>
        <label>Ingresa url del poster</label>
        <input type="text" id="Poster" class="form-control"></input>
        <label>Breve sinopsis</label>
        <textarea id="Sinopsis" class="form-control"></textarea>
        <label>Link del Trailer</label>
        <input type="text" id="Trailer" class="form-control"></input>
        <button id="Agregar" class="btn btn-primary">Agregar</button>
    </div>
    <h2>Listado de Peliculas</h2>
    <div id="divPelis">
    </div>
    </section>
    <aside class="recomendaciones">
      <h2>Recomendados</h2>
      <ul>
        <li>Scream</li>
        <li>Cementerio de Animales</li>
        <li>Pesadilla en calle elm</li>
        <li>Halloween</li>
      </ul>
    </aside>
    <footer class="footerIndex">Desarrollado por Santiago Barletta</footer>
    <script src="../js/script9.js"></script>
  </body>
</html>
