<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link href="../css/estilos.css" rel="stylesheet" />
    <title>Bootstrap</title>
  </head>

  <body class="container-fluid">
    <header>
      <div
        class="collapse"
        id="navbarToggleExternalContent"
        data-bs-theme="dark"
      >
        <div class="bg-light p-4">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="peliculas.html">Peliculas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="personajes.html">Personajes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto.html">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="nosotros.html">Nosotros</a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-light">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon bg-primary"></span>
          </button>
        </div>
      </nav>
    </header>
    <!-- Comentario HTML-->
    <div class="imagenIndex">
      <img src="../images/background.jpg" />
      <p class="tituloPagina">PLANETA TERROR</p>
    </div>
    <div class="contenidoIndex col-8">BLABLA</div>
    <div class="recomendaciones col-3">
      <h2>Recomendados</h2>
      <ul>
        <li>Scream</li>
        <li>Cementerio de Animales</li>
        <li>Pesadilla en calle elm</li>
        <li>Halloween</li>
      </ul>
    </div>
    <footer class="footerContacto">Desarrollado por Santiago Barletta</footer>
    <script src="../js/bootstrap.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
