<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/estilos.css" rel="stylesheet" />
    <title>Peliculas Flex</title>
  </head>
  <body>
    <header id="cabecera" class="encabezado">
     <nav class="navbar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="peliculas.html">Peliculas</a></li>
          <li><a href="personajes.html">Personajes</a></li>
          <li><a href="contacto.html">Contacto</a></li>
          <li><a href="#">Nosotros</a></li>
        </ul>
      </nav>
    </header>
    <div class="imagenIndex">
      <img src="../images/background.jpg" />
      <p class="tituloPagina">PLANETA TERROR</p>
  </div>
    <h1 class="titulo">Películas</h1>
    <section class="contenido">
      
      <article>
        <h2 class="tituloPelicula">Viernes 13</h2>
        <img src="./../images/f13.jpg" alt="Viernes 13" class="poster" />
        <div class="sinopsis">
          El campamento de verano de Crystal Lake reabre sus puertas tras
          permanecer varios años cerrado a raíz de un accidente. A partir de ese
          momento, comienza a aparecer gente muerta en extrañas circunstancias.
        </div>
        <div class="trailer">
          <h3 class="cabezaTrailer">Trailer</h3>
          <iframe
            src="https://www.youtube.com/embed/NrNCwFG8Yrw?si=i_1R0pLcDPBdo51x"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </article>
      <article>
        <h2 class="tituloPelicula">El regreso de los muertos vivos</h2>
        <img
          src="./../images/trotld.jpg"
          alt="El regreso de los muertos vivos"
          class="poster"
        />
        <div class="sinopsis">
          En su primer día en un almacén de suministros médicos, Freddy (Thom
          Mathews) libera, sin querer, gas tóxico de un barco militar secreto de
          EE. UU. El gas reanima a un ejército de cadáveres con un hambre voraz
          ¡por cerebros humanos!
        </div>
        <div class="trailer">
          <h3 class="cabezaTrailer">Trailer</h3>
          <iframe
            src="https://www.youtube.com/embed/KeSAFGWzft8?si=4uWVcPS8EjPlv_fs"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </article>
      <article>
        <h2 class="tituloPelicula">La Cosa</h2>
        <img src="./../images/tt.jpg" alt="La cosa poster" class="poster" />
        <div class="datosPelicula">
          <div class="sinopsis">
            Un equipo científico de la Antártida descubre un ente extraño que
            podría ser letal para la humanidad, un extraterrestre que puede
            duplicar otras formas de vida.
          </div>
        </div>
        <div class="trailer">
          <h3 class="cabezaTrailer">Trailer</h3>
          <iframe
            src="https://www.youtube.com/embed/5ftmr17M-a4?si=eqBoX-xEoXdlg-uU"
            title="Trailer"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </article>
      <article>
        <h2 class="tituloPelicula">It</h2>
        <img src="./../images/it.jpg" alt="It" class="poster" />
        <div class="datosPelicula">
          <div class="sinopsis">
            Varios niños de una pequeña ciudad del estado de Maine se alían para
            combatir a una entidad diabólica que adopta la forma de un payaso y
            desde hace mucho tiempo emerge cada 27 años para saciarse de sangre
            infantil.
          </div>
        </div>
        <div class="trailer">
          <h3 class="cabezaTrailer">Trailer</h3>
          <iframe
            src="https://www.youtube.com/embed/eFGvFXhyfYQ?si=AGAUAGooL-o6-gWA"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </article>
    </section>
    <aside class="recomendaciones">
      <h2>Recomendados</h2>
      <ul>
        <li>Scream</li>
        <li>Cementerio de Animales</li>
        <li>Pesadilla en calle elm</li>
        <li>Halloween</li>
      </ul>
    </aside>
    <footer>Desarrollado por Santiago Barletta</footer>
  </body>
</html>
