<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="contenidoPersonajesJS">
      <h1>Personajes</h1>
      <div>
      <input type="text" id="personajeInput" placeholder="Nombre del personaje"
      />
      <div id="personajes-list"></div>
      <p id="contador-personajes"></p>
    </section>
    
      <button id="agregar-personaje">Agregar</button>
    </div>
    <script src="../js/scriptclas17.js"></script>
  </body>
</html>
